.main-about-me {
  font-family: "Roboto", sans-serif;
  color: #d6e9d1;
  background-image: url(/images/background-image2.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-me-container {
  max-width: 900px;
  margin: 0 auto;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 60%;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
}

.about-me-description {
  width: 70%;
  padding: 0 0 0 15px;
}

.about-me-description p {
  font-size: 32px;
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  .about-me-container {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .about-me-description p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .about-me-container {
    max-width: 600px;
    flex-direction: row;
    background-position: left;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .about-me-description p {
    font-size: 16px;
  }
}
