.main-about-me {
  /* GRAPHICAL COMPONENT BACKGROUND */
  font-family: "Roboto", sans-serif;
  color: #d6e9d1;
  background-image: url(/images/newbackground2.jpg);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}
/* COMPONENT */
.about-me-container {
  max-width: 900px;
  margin: 0 auto;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GRAPHICAL COMPONENT */
.image-container {
  width: 60%;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
}

.about-me-description {
  width: 70%;
  padding: 0 0 0 15px;
}

.about-me-description p {
  font-size: 32px;
  font-weight: bolder;
}

.workhistory {
  display: flex;
  justify-content: center;
  align-items: center;
  color: greenyellow;
  padding: 0;
  max-height: 300px;

}

.workhistory h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.workhistory p {
  font-size: 20px;
}

.workhistory ul {
  text-align: center;
  list-style-position: inside;
  font-size: 20px;
}
