.blog-main {
  background-color: #314344;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 55px;
  color: #d6e9d1;
  font-weight: bolder;
  padding: 0 0;
}

.blog-post-box {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
}

.blog-main h1 {
  margin: 10px;
  font-size: 45px;
}

.blog-main p {
  margin: 10px;
  font-size: 30px;
  color: #e36397;
}

.blog-main p a {
  font-size: 30px;
  color: #4bcc28;
}

@media only screen and (max-width: 900px) {
  .blog-post-box {
    width: 90%;
    height: 80%;
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  .blog-main h1 {
    font-size: 35px;
  }
  .blog-main p a {
    font-size: 25px;
  }
  .blog-main p {
    font-size: 25px;
  }
  .blog-post-box span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .blog-post-box {
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 20px;
  }
  .blog-main {
    /* height: 100%; */
  }
  .blog-main h1 {
    font-size: 25px;
  }
  .blog-main p a {
    font-size: 18px;
  }
  .blog-post-box span {
    display: none;
  }
}
