/* GRAPHICAL COMPONENT */
.main-contact {
  background-image: url(/images/newbackground2.jpg);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* COMPONENT */
.contact-container {
  width: 75%;
  height: 90%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  color: #d6e9d1;
}

.contact-container h1 {
  font-size: 70px;
  margin: 0;
  text-align: center;
}
/* GRAPHICAL COMPONENT */
.image-container {
  width: 40%;
  align-content: center;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* COMPONENT */
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-container label {
  color: #d6e9d1;
  font-weight: bolder;
}
/* COMPONENT */
form {
  text-align: center;
  align-content: center;
}
