/* COMPONENT */
footer {
  color: white;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  bottom: 0;
}

.footer {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  bottom: 10px;
  position: fixed;
}

.footer a {
  color: white;
  font-weight: bolder;
}

.footer a:hover {
  color: rgb(245, 79, 245);
  border-bottom: 3px solid rgb(245, 79, 245);
}

.footer a:visited {
  color: #d6e9d1;
}
