footer {
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    position:fixed;
    bottom: 0;
}

@media only screen and (max-width: 700px) {
    footer {
        bottom: 50px;
    }
}

.footer {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    bottom: 10px;
    position: fixed;
  }