.main-background {
  font-family: "Roboto", sans-serif;
  color: #d6e9d1;
  background-image: url(/images/background-image2.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 700px) {
  .main-background {
    background-position: left;
  }
}

.title-container {
  margin: 0px 0px 0px 100px;
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-direction: column;
  padding-top: 100px;
  flex-flow: column;
}

.title-container h1 {
  font-size: 140px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-container h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.title-container h3 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}


@media only screen and (max-width: 700px) {
  .title-container {
    flex-wrap: wrap;
    width: 250px;
    padding: 30px 5px 5px 5px;
    margin: 0px 10px 10px 30px;
  }
  .title-container h1 {
    font-size: 60px;
    justify-content: left;
    animation: none;
  }
  .title-container h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .title-container h1 {
    font-size: 70px;
    justify-content: left;
  }
  .title-container h3 {
    font-size: 40px;
  }
}

.footer {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  bottom: 10px;
  position: fixed;
}