main {
    font-family: 'Roboto', sans-serif; 
    color: #D6E9D1;
    background-image: url(/images/background-image2.jpg);
    height: 90vh;
    background-position: left;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

@media only screen and (max-width: 700px)
main {
    background-position: left;
}

.title-container {
    margin: 0px 0px 0px 100px;
    display: flex;
    align-items; left;
    justify-content: center;
    width: 1000px;
    flex-direction:column;
    padding-top: 100px;
}

.title-container h1 {
    font-size: 140px;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom:0px;
}

.title-container h3 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}