@media only screen and (max-width: 1024px) {
  nav {
    height: 90px;
  }
  .icon {
    max-height: 30px;
    max-width: 30px;
  }
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    align-items: flex-end;
    margin: 5px 5px;
    justify-self: normal;
  }
  .title-container h1 {
    font-size: 60px;
    justify-content: left;
    animation: none;
  }
  .title-container h3 {
    font-size: 40px;
  }
  /* COMPONENT */
  footer {
    font-size: 12px;
    justify-content: center;
  }
  .blog-post-box {
    width: 90%;
    height: 80%;
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  .blog-main {
    height: 100%;
  }
  .blog-main h1 {
    font-size: 35px;
  }
  .blog-main p a {
    font-size: 25px;
  }
  .blog-main p {
    font-size: 25px;
  }
  .blog-post-box span {
    display: none;
  }
  .blog-post-container {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .blog-entry p {
    font-size: 18px;
  }
  .blog-image-container {
    width: 60%;
  }
  .blog-entry h1 {
    font-size: 30px;
  }
  .main-about-me {
    height: 100%;
  }
  .about-me-container {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .work-image-container img {
    width: 70%;
  }
  .main-work {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .about-me-description p {
    font-size: 24px;
  }
  .work-container {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
  .work-skills h1 {
    font-size: 24px;
  }
  .work-skills li {
    font-size: 20px;
  }
  .skill-list img {
    width: 30px;
    height: 30px;
  }
  /* COMPONENT */
  .download a {
    font-size: 26px;
    color: #e36397;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .work-container {
    margin: 0;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
  }
  .work-skills {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .work-skills h1 {
    font-size: 30px;
  }
  .work-skills li {
    font-size: 24px;
  }
  .work-image-container {
    padding-left: 30px;
  }
  .work-image-container img {
    margin-left: 20px;
  }
  .main-background {
    background-position: left;
  }
  .title-container {
    flex-wrap: wrap;
    width: 250px;
    padding: 30px 5px 5px 5px;
    margin: 0;
  }
  .title-container h1 {
    font-size: 60px;
    justify-content: left;
    animation: none;
  }
  .title-container h3 {
    font-size: 30px;
  }
  footer {
    display: none;
  }
  .blog-main {
    height: 100vh;
  }
  .blog-post-container {
    flex-direction: row;
    background-position: left;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .blog-entry p {
    font-size: 32px;
  }
  .blog-entry h1 {
    font-size: 40px;
  }
  .about-me-container {
    max-width: 600px;
    flex-direction: row;
    background-position: left;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .about-me-description p {
    font-size: 16px;
  }
  .download a {
    font-size: 22px;
    color: #e36397;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .title-container {
    margin: 0;
  }
  .work-skills {
    max-width: 90%;
    flex-direction: row;
    background-position: center;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .work-skills h1 {
    font-size: 22px;
  }
  .work-skills li {
    font-size: 16px;
  }
  .blog-post-box {
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 20px;
  }
  .blog-main h1 {
    font-size: 25px;
  }
  .blog-main p a {
    font-size: 18px;
  }
  .blog-post-box span {
    display: none;
  }
  .blog-entry p {
    font-size: 20px;
  }
  .blog-entry h1 {
    font-size: 16px;
  }
}
