nav {
  font-family: "Roboto", sans-serif;
  background-color: #06191a;
  height: 11vh;
  color: #d6e9d1;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0px;
}

nav a {
  color: #d6e9d1;
  text-decoration: none;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 90px;
  height: 100%;
}

.nav-links a:hover {
  color: #e36397;
  border-bottom: 3px solid #e36397;
}

.nav-div {
  display: flex;
  justify-content: center;
  height: 100%;
}
.icons {
  margin: 0px;
  margin-top: 10px;
  height: 8vh;
  padding-top: 15px;
  padding: 0px;
}

.nav-links {
  justify-content: center;
  /* margin: 30px 10px; */
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: white;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #e36397;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(126, 231, 77);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger {
  display: none;
}

.hamburger-links {
  display: none;
}

.hamburger-links li {
  list-style: none;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.hamburger-links li a {
  color: #1c2d2e;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
}

.hamburger-links li a:hover {
  color:#e36397;
}

@media only screen and (max-width: 800px) {
  nav {
    height: 90px;
  }
  .icon {
    max-height: 30px;
    max-width: 30px;
  }
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    align-items: flex-end;
    margin: 5px 5px;
    justify-self: normal;
  }
}
