nav {
  font-family: 'Roboto', sans-serif; 
  background-color: #06191a;
  height: 11vh;
  color: #d6e9d1;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0px;
}

nav a {
  color: #d6e9d1;
  text-decoration: none;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.icon {
  margin: 0px;
  height: 8vh;
}

.nav-links {
  justify-content: center;
  margin: 30px 10px;
}

.hamburger {
  display: none;
}

.hamburger-links {
  display:none;
}

.hamburger-links li {
  list-style: none;
  text-align: center;
  margin: 10px 0px;
}

.hamburger-links li a {
  color: #1C2D2E;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background: #d6e9d1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background: #d6e9d1;
}

@media only screen and (max-width: 500px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 5px;
  }
}